@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* My Custom Styling */

body {
    background-color: #111111;
    color: #cccccc;
}

h2, p {
    color: white;
    font-family: 'Inter', sans-serif;
}

.login-button {
    background-color: #42a4f5;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    left: 1848px;
    top: 7px;
    outline: none;
}

/* Login Page */

.login-username {
    background-color: #e7f1fa;
    border: none;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Inter';
    color: #000;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 24px;
    position: absolute;
    left: 850px;
    top: 300px;
    resize: none;
    outline: none;
    width: 198px;
}

.login-password {
    background-color: #e7f1fa;
    border: none;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Inter';
    color: #000;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 24px;
    position: absolute;
    left: 850px;
    top: 410px;
    resize: none;
    outline: none;
    width: 198px;
}

.signin-button {
    background-color:#42a4f5;
    border: none;
    color: white;
    padding: 9px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Inter';
    color: #000;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 24px;
    position: absolute;
    left: 897px;
    top: 490px;
    outline: none;
}

.login-screen-text {
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 200;
    position: absolute;
    left: 850px;
}

/* Login Page End */

.back-button {
    background-color:#42a4f5;
    border: none;
    color: white;
    padding: 5px 12px;
    align-self: left;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 800;
    color: #000;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    left: -25px;
    width: 35px;
    outline: none;

    transform: translateX(0px);
    transition: transform 150ms ease-in;
}

.back-button:hover {
    transform: translateX(15px);
}