@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Custom Style */

body {
    background: #111111;
}

body::-webkit-scrollbar {
    width: 4px;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.messageBox {
    background-color: #e7f1fa;
    border: thick 100px #111111;
    color: white;
    padding: 14px 10px;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Inter';
    color: #000;
    margin: 4px 2px;
    border-radius: 14px;
    position: absolute;
    left: 800px;
    top: 70px;
    resize: none;
    outline: none;
    width: 300px;
    height: 150px;
    cursor:not-allowed;
}

.authorBox {
    background-color: #e7f1fa;
    border: thick 100px #111111;
    color: white;
    padding: 14px 10px;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Inter';
    color: #000;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 14px;
    position: absolute;
    left: 800px;
    top: 265px;
    resize: none;
    outline: none;
    width: 200px;
    height: 20px;
}

.sendButton {
    background-color:#42a4f5;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Inter';
    color: #000;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 24px;
    position: absolute;
    left: 1030px;
    top: 270px;
    outline: none;
    visibility: hidden;
}

.sendButton:hover {
    background: #3990d6;
}

.loginButton {
    background-color:#42a4f5;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Inter';
    color: #000;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 24px;
    position: absolute;
    left: 1030px;
    top: 270px;
    outline: none;
}

.loginButton:hover {
    background: #3990d6;
}

.message-card {
    position: absolute;
    left: 800px;
    width: 325px;
    height: 178px;
    background: #2e2e2e;
    border-radius: 14px;
    border-color: #222222;
}

.message-content-container {
    width: 325px;
    height: 178px;
}

.message-card-canv {
    background: #2e2e2e;
    border-radius: 14px;
    border-color: #222222;
}

.message-author-element {
    position: absolute;
    font-family: 'Inter';
    font-weight: 400;
    top: 150px;
    left: 10px;
    color: white;
}

.message-content-element {
    position: absolute;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 14px;
    top: 14px;
    left: 10px;
    color: white;
    overflow-wrap: break-word;
}

.warningBox {
    position: fixed;
    left: 800px;
    top: 10px;
    width: 325px;
    height: 50px;
    background: #42a4f58e;
    border-radius: 14px;
    visibility: hidden;
}

.warningText {
    position: fixed;
    font-family: 'Inter';
    font-weight: 500;
    left: 855px;
    top: 27px;
    color: white;
    visibility: hidden;
}