@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Custom Style */

body {
    background: #111111;
}

body::-webkit-scrollbar {
    width: 4px;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.back-button {
    background-color:#42a4f5;
    border: none;
    color: white;
    padding: 5px 12px;
    align-self: left;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 800;
    color: #000;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    left: -25px;
    width: 35px;
    outline: none;

    transform: translateX(0px);
    transition: transform 150ms ease-in;
}

.back-button:hover {
    transform: translateX(15px);
}

/* Control Panel Formating */

.messageBox {
    background-color: #e7f1fa;
    border: thick 100px #111111;
    color: white;
    padding: 14px 10px;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Inter';
    color: #000;
    margin: 4px 2px;
    border-radius: 14px;
    position: absolute;
    left: 56.8%;
    top: 140px;
    resize: none;
    outline: none;
    width: 355px;
    height: 150px;
    cursor:not-allowed;
    overflow-y: hidden;
}

.message-box-spacer {
    position: absolute;
    top: 323px;
    left: 57%;
    width: 375px;
    height: 97px;
}

.sendButton {
    background-color:#42a4f5;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 500;
    color: #000;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 24px;
    position: absolute;
    left: 75.5%;
    top: 20px;
    outline: none;
    visibility: hidden;
}

.sendButton:hover {
    background: #3990d6;
}

.loginButton {
    background-color:#42a4f5;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 500;
    color: #000;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 24px;
    position: absolute;
    left: 74.9%;
    top: 20px;
    outline: none;
}

.loginButton:hover {
    background: #3990d6;
}

.warningBox {
    position: fixed;
    left: 57%;
    top: 10px;
    width: 325px;
    height: 50px;
    background: #42a4f58e;
    border-radius: 14px;
    visibility: hidden;
}

.warningText {
    position: fixed;
    font-family: 'Inter';
    font-weight: 500;
    left: 57%;
    top: 27px;
    color: white;
    visibility: hidden;
}

/* Settings Menu */

.settingsBox {
    position: absolute;
    left: 57%;
    top: 420px;
    width: 375px;
    height: 378px;
    background: #2e2e2e;
    border-radius: 14px;
    border-color: #222222;
}

.settings-div {
    position: absolute;
    left: 57%;
    top: 420px;
    width: 375px;
    height: 378px;
}

.settings-header {
    position: relative;
    top: 14px;
    text-align: center;
    color: white;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
}

/* Light Mode Settings Switch */

.light-mode-setting {
    position: relative;
    top: 300px;
    color: white;
    text-align: center;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    /*background-color: teal;*/
}


.light-mode-setting-text {
    position: relative;
    color: white;
    text-align: left;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    top: 15px;
    left: 28%;
}

.light-mode-switch {
    position: relative;
    display: inline-block;
    top: -5px;
    left: 14%;
    width: 50px;
    height: 24px;
}

.light-mode-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.light-mode-slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.light-mode-slider-round:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .light-mode-slider-round {
  background-color: #2196F3;
}

input:focus + .light-mode-slider-round {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .light-mode-slider-round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.light-mode-slider-round {
  border-radius: 34px;
}

.light-mode-slider-round:before {
  border-radius: 50%;
}

/* Light Mode Settings Switch End*/

/* Settings Menu End */


/* Message Formating */

.message-card {
    position: absolute;
    left: 25%;
    width: 375px;
    height: 178px;
    background: #2e2e2e;
    border-radius: 14px;
    border-color: #222222;
}

.message-content-container {
    width: 375px;
    height: 178px;
}

.message-card-canv {
    background: #2e2e2e;
    border-radius: 14px;
    border-color: #222222;
}

.message-author-element {
    position: absolute;
    font-family: 'Inter';
    font-weight: 400;
    top: 150px;
    left: 10px;
    color: white;
}

.message-content-element {
    position: absolute;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 14px;
    top: 14px;
    left: 10px;
    color: white;
    overflow-wrap: break-word;
}